apiVersion: v1
kind: Namespace
metadata:
  name: keycloak
  labels:
    name: keycloak
    app.kubernetes.io/name: keycloak
---
apiVersion: v1
kind: Namespace
metadata:
  name: vault
  labels:
    name: vault
    app.kubernetes.io/name: vault
---
apiVersion: v1
kind: Namespace
metadata:
  name: postgresql
  labels:
    name: postgresql
    app.kubernetes.io/name: postgresql

