apiVersion: v1
kind: Service
metadata:
  name: gitlab-runner
  namespace: gitlab-runner
  labels:
    app: gitlab-runner
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 9252
      targetPort: 9252
      protocol: TCP
  selector:
    app: gitlab-runner

