OrdererOrgs:
  - Name: Orderer
    Domain: example.com
    Specs:
      - Hostname: orderer

PeerOrgs:
  - Name: OisDev
    Domain: ois-dev.example.com
    EnableNodeOUs: true
    Template:
      Count: 2
    Users:
      Count: 1

